<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Twitch Extension - Calendar</title>
    <!-- Dependencies -->
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-messages.min.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="styles/config.css">
    <link rel="stylesheet" type="text/css" href="js/components/calendar/calendar.css">
    <link rel="stylesheet" type="text/css" href="js/components/day-schedule/day-schedule.css">

    <!-- Main -->
    <script type="text/javascript" src="js/calendar.module.js"></script>
    <script type="text/javascript" src="js/config.controller.js"></script>

    <!-- components -->
    <script type="text/javascript" src="js/components/day-schedule/day-schedule.directive.js"></script>
    <script type="text/javascript" src="js/components/calendar/calendar.directive.js"></script>
    <script type="text/javascript" src="js/components/calendar/calendar.controller.js"></script>
    <script type="text/javascript" src="js/services/calendar.service.js"></script>
    <script type="text/javascript" src="js/constants/segments.constant.js"></script>
</head>
<body>
<div ng-app="hypnoised.calendar" ng-controller="ConfigCtrl as $ctrl" class="config">
    <div class="dummy-calendar">
        <calendar g-calendar="$ctrl.calendar"></calendar>
    </div>

    <div ng-if="$ctrl.error" style="outline:1px solid red;">
        {{$ctrl.error}}
    </div>

    <div ng-show="!$ctrl.authObj">Loading config</div>

    <div ng-show="$ctrl.authObj">
        <form name="$ctrl.form">
            <label>
                Google API key
                <input type="password"
                       name="apiKey"
                       required
                       ng-model="$ctrl.config.broadcaster.apiKey"
                       placeholder="AIzaSyA2OjZyfInigiK0K71GKaUzatKHJ4U8VlA">
            </label>
            <div ng-messages="$ctrl.form.apiKey.$error" role="alert">
                <div ng-message="required">
                    An API key is required since Google has made their API policies stricter.
                </div>
            </div>
            <br>

            <label>
                Google Calendar ID
                <input type="text"
                       name="calendarId"
                       required
                       ng-pattern="$ctrl.calendarIdPattern"
                       ng-model="$ctrl.config.broadcaster.calendarId"
                       placeholder="vqgc7vs42o478h4nvecn0l30pg@group.calendar.google.com">
            </label>
            <div ng-messages="$ctrl.form.calendarId.$error" role="alert">
                <div ng-message="required">
                    A Calendar ID is required, or else we don't know what calendar to display
                </div>
                <div ng-message="pattern">
                    A Calendar ID always ends with
                    <mark>@group.calendar.google.com</mark>
                </div>
            </div>

            <br>

            <button ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine" ng-click="$ctrl.saveBroadcasterConfig()">Test & Save</button>
        </form>
    </div>
</div>
</body>
</html>
