day-schedule {
    display: flex;
    flex-direction: row;
    width: 100%;
}

day-schedule > div.day-indicator {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
    color: #424242;
}

day-schedule > div.day-indicator > span.day-of-month {
    font-size: larger;
}

day-schedule > div.day-indicator > span.day-of-week {
    font-size: smaller;
}

day-schedule > div.event-container {
    width: 100%;
}

day-schedule:not(:last-of-type) {
    margin-bottom: .75em;
    /*border-bottom: 1px solid #BDBDBD;*/
}

day-schedule > div.event-container > div.event {
    padding: .5em 1em;
    color: white;
    background-color: #9575CD;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5em;
}

day-schedule > div.event-container > div.event > i {
    font-size: small;
}

day-schedule > div.event-container > div.event.live {
    background-color: #F44336;
    box-shadow: 0 0 10px 0 rgb(244, 67, 54);
    color: white;
}

day-schedule > div.event-container > div.event.expired {
    background-color: white;
    border: 1px solid #B39DDB;
    color: #B39DDB;
}