day-schedule {
    display: flex;
    flex-direction: row;
    width: 100%;
}

day-schedule > div.day-indicator {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
}

day-schedule > div.event-container {
    width: 100%;
}

day-schedule:not(:last-of-type) > div.event-container {
    margin-bottom: .75em;
}

day-schedule > div.event-container > div.event {
    padding: .5em 1em;
    color: white;
    background-color: #FFC107;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5em;
}

day-schedule > div.event-container > div.event > i {
    font-size: small;
}

day-schedule > div.event-container > div.event.live {
    background-color: #F44336;
}

day-schedule > div.event-container > div.event.expired {
    background-color: #BDBDBD;
}