<div class="week-indicator" ng-show="$ctrl.schedule.startOfNewWeek">
    Week {{::$ctrl.schedule.week}}, {{$ctrl.schedule.date | date:'LLLL'}}
</div>

<div class="day-wrapper">
    <div class="day-indicator" ng-class="{'today' : $ctrl.schedule.today}">
        <span class="day-of-month">{{$ctrl.schedule.date | date:'d'}}</span>
        <span class="day-of-week">{{$ctrl.schedule.date | date:'EEE'}}</span>
    </div>

    <div class="event-container">
        <!-- TODO Create an 'Event' directive -->
        <div ng-repeat="event in $ctrl.schedule.events track by $index"
             class="event"
             title="{{event.description}}"
             ng-class="{'live':$ctrl.isLive(event), 'expired':$ctrl.isExpired(event), 'loading':$ctrl.loading}">
            <b>{{event.summary}}</b>
            <br>
            <i>{{event.start.dateTime | date:'shortTime'}}</i> - <i>{{event.end.dateTime |
            date:'shortTime'}}</i>
            <i ng-show="event.recurrence">- Reoccurring Event</i>
        </div>
    </div>
</div>