calendar > div.calendar-summary {
    background-color: #6441A4;
    border-radius: 0 0 5px 5px;
    padding: .5em 1em;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

calendar > div.calendar-summary > h3 {
    margin: 0;
}