html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FAFAFA;
    height: 100vh;
}

div.app {
    height: 100%;
    overflow-y: auto;
}

button {
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

button[disabled] {
    cursor: no-drop;
}

div[ng-message] {
    color: red;
}

.clickable {
    cursor: pointer;
}